*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
    text-decoration-line: underline;
    margin: 1rem;
    cursor: pointer;
}

p{
    font-size: 1rem;
}

@media (min-width: 600px) and (max-width: 1100px){
    
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 1.4rem;
    }

    p{
        font-size: 1rem;
    }

}

@media (max-width: 600px){
    
    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

}

/* nav bar */

.navbar{
    position: fixed;
    top: 0;
    display: flex;
    display: row;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    background: linear-gradient(90deg, orange, red);
    z-index: 10;
}

.navbar > :nth-child(1){
    margin: 0 2rem 0 2rem;
}

.navbar > :nth-child(2){
    margin-right: auto;
}

.navbar > a{
    color: white;
    text-decoration: none;
    margin: 0 2rem 0 2rem;
    transition: color 0.5s linear;
}

.navbar > a:hover{
    color: black;
}

.navbar > :nth-child(6){
    display: none;
    margin: 0 1rem 0 auto;
    transition: fill 0.5s linear;
}

.navbar > :nth-child(6):hover{
    fill: black;
}

@media (max-width: 1100px){

    .navbar{
        justify-content: center;
    }

    .navbar > :nth-child(1){
        margin: 0 auto 0 1rem;
    }

    .navbar > :nth-child(2){
        margin: 0;
    }

    .navbar > a{
        display: none;
    }

    .navbar > :nth-child(6){
        display: flex;
    }

}

/* drop down */

.dropdown{
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.dropdown > svg{
    transition: fill 0.5s linear;
    margin: 0 2rem 0 2rem;
}

.dropdown > svg:hover{
    fill: black;
}

.dropdown > a{
    color: white;
    text-decoration: none;
    margin: 2rem 2rem 0 2rem;
    transition: color 0.5s linear;
}

.dropdown a:hover{
    color: black;
}

@media (min-width: 600px) and (max-width: 1100px){

    .dropdown{
        align-items: flex-end;
        background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 0, 0, 1));
    }

}

@media (max-width: 600px){

    .dropdown{
        align-items: center;
        background: linear-gradient(135deg, rgb(255, 165, 0), rgb(255, 0, 0));
    }

}

/* title */

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

/* details */

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
}

.details > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid black;
    border-radius: 1rem;
    margin: 5rem 0 5rem 0;
}

.details > div > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1rem;
}

.details > div > div > h2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.details > div > div > div{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: height 0.5s linear;
}

@media (max-width: 1100px){

    .details > div{
        width: 90%;
    }

}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
}

.contact p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.7rem;
}

.contact > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 1rem;
    background-color: black;
}

.contact > div > :nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 2rem;
}

.contact > div > :nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact > div > :nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 auto;
}

.contact > div > :nth-child(2) > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px){

    .contact p{
        font-size: 0.5rem;
    }

    .contact > div{
        width: 90%;
    }

    .contact > div > div{
        margin: 0.5rem;
    }

    .contact > div > :nth-child(1) > :nth-child(1){
        width: 40px;
        height: 40px;
    }

    .contact > div > :nth-child(1) > :nth-child(2){
        width: 80px;
        height: 40px;
    }

    .contact > div > :nth-child(2) > div{
        flex-direction: column;
    }

}

@media (max-width: 600px){

    .contact p{
        font-size: 0.3rem;
    }

    .contact > div > :nth-child(1) > :nth-child(1){
        width: 20px;
        height: 20px;
    }

    .contact > div > :nth-child(1) > :nth-child(2){
        width: 40px;
        height: 20px;
    }

}


/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: max-content;
    margin: 3rem 0 3rem 0;
}

.footer > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: max-content;
    border: 3px solid black;
    border-radius: 1rem;
    background: linear-gradient(90deg, red, orange);
}

.footer > div > p{
    font-size: 1rem;
    margin: 1rem;
}

.footer > div > p:nth-child(1){
    margin-right: auto;
}

@media (max-width: 600px){

    .footer > div{
        width: 90%;
    }

    .footer > div > p{
        font-size: 0.5rem;
    }

}
